@model WhatDo.Models.MovieSearchViewModel
@{
    ViewBag.Title = "ShowMovieSuggestions";
}

<h2>Have You Seen These Movies Yet?</h2>

<div class="right">
    <h3>What's Showing...</h3>
@foreach (WhatDo.Models.Movies movie in Model.MovieSearchResults)
{
    <table class="table" align="center" width="80">
        <tr>
            <th>
                @movie.Title  |  @Html.ActionLink("Get Me Showtimes!", "GetShowtimes", movie, new { cityId = Model.CityId })
            </th>
        </tr>
        <tr>
            <th>Synopsis</th>
            <th>Genres</th>
            <th>Runtime</th>
        </tr>
        <tr>
            <td>@movie.Synopsis</td>
            <td>@movie.Genres</td>
            <td>@movie.Runtime minutes</td>
        </tr>
    </table>    
}
</div>



